header{
    background-color: var(--barra);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;
    height: 7rem;
    font-family: "Work sans", sans-serif;
}

header a{
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
}

header a.atual{
    color: var(--azul-claro);
}

header ul{
    display: flex;
    gap: 3rem;
}

header ul,
header li {
    list-style: none;
}

header div img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

header div:hover,
header li:hover {
    transform: scale(1.1);
    transition: .5s;
}