@import "../css-geral/global.css";
@import "../css-geral/header.css";

body{
    background-color: var(--fundo);
}

h1{
    font-family: 'Work sans', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 7rem;
    margin-bottom: 3rem;
}

h2{
    font-family: 'Playfair display', sans-serif;
    font-size: 5rem;
}

p{
    font-family: 'montserrat', sans-serif;
    color: var(--texto);
    font-size: 2rem;
}

.um{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.aa{
    margin-right: 2rem;
}

.aa h2{
    margin-left: 40rem;
}

.aa p{
    margin-left: 10rem;
}

.um img{
    max-width: 100%;
    height: auto;
    margin-right: 10rem;
    width: 50rem;
    height: auto;
}

.dois{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.dois h2{
    align-items: center;
    margin-left: 15rem;
}

.bb p{
    margin-right: 10rem;
    margin-left: 2rem;
}

.dois img{
    max-width: 100%;
    height: auto;
    margin-left: 10rem;
}

.tres {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.cc{
    margin-right: 2rem;
}

.cc h2{
    margin-left: 35rem;
}

.cc p{
    margin-left: 10rem;
}

.tres img{
    max-width: 100%;
    height: auto;
    margin-right: 10rem;
    margin-left: 2rem;
}

.quatro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.dd h2{
    margin-left: 30rem;
}

.dd p{
    margin-right: 10rem;
    margin-left: 2rem;
}

.quatro img{
    max-width: 100%;
    height: auto;
    margin-left: 10rem;
}

.cinco{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.ee{
    margin-right: 2rem;
}

.ee h2{
    margin-left: 25rem;
}

.ee p{
    margin-left: 10rem;
}

.cinco img{
    max-width: 100%;
    height: auto;
    margin-right: 10rem;
    margin-left: 2rem;
}

.sex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.ff h2{
    margin-left: 10rem;
}

.ff p{
    margin-right: 10rem;
    margin-left: 2rem;
}

.sex img{
    max-width: 100%;
    height: auto;
    margin-left: 10rem;
}