@import "../css-geral/global.css";
@import "../css-geral/header.css";

body{
    background-color: var(--fundo);
}

h1{
    font-family: 'Work sans', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 7rem;
    margin-bottom: 3rem;
}

main a{
    font-family: 'Playfair display', sans-serif;
    font-size: 5rem;
}

p{
    font-family: 'montserrat', sans-serif;
    color: var(--texto);
    font-size: 7rem;
}


.arthur{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.arthur a{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
    text-decoration: none;
    color: var(--azul-claro);
    background-color: var(--barra);
}

.aa p{
    margin-right: 30rem;
    margin-left: 0rem;
}

.arthur img{
    max-width: 100%;
    height: auto;
    margin-left: 40rem;
}

.kauan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.kauan a{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
    text-decoration: none;
    color: var(--azul-claro);
    background-color: var(--barra);
}

.bb p{
    margin-right: 15rem;
    margin-left: 5rem;
}

.kauan img{
    max-width: 100%;
    height: auto;
    margin-left: 40rem;
}

.joao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.joao a{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 20rem;
    text-decoration: none;
    color: var(--azul-claro);
    background-color: var(--barra);
}

.cc p{
    margin-right: 5rem;
    margin-left: 0.1rem;
}

.joao img{
    max-width: 100%;
    height: auto;
    margin-left: 40rem;
}